<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BbsMapper">
	
	<!--게시글 목록  -->
	<select id="Bbslist" resultType="BbsDTO" parameterType="list">
		select
		bbsnum, bbstitle, userid,
		to_char(bbsdate, 'yyyy/MM/dd')bbsdate from
		bbs where bbsavailable = 0 order by bbsnum desc
	</select>
	
	<!--게시글 추가 -->
	<insert id="writebbs" parameterType="BbsDTO">
		insert into bbs(bbsnum, bbstitle, userid, bbscontent, bbsavailable)
		values(bbsnum.nextval,#{bbstitle},#{userid},#{bbscontent},#{bbsavailable})
	</insert>
	
	<!--게시글 보기  -->
	<select id="viewbbs" resultType="BbsDTO" parameterType="int">
		select * from bbs where bbsnum=#{bbsnum}
	</select>
	
	<!-- 게시글 수정  -->
	<update id="updatebbs" parameterType="BbsDTO">
	update bbs
		set bbstitle = #{bbstitle},
		bbscontent = #{bbscontent}
		where bbsnum = #{bbsnum}
	</update>
</mapper>