<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BbsMapper">

	<select id="Bbslist" resultType="BbsDTO" parameterType="list">
		select
		bbsnum, bbstitle, userid,
		to_char(bbsdate, 'yyyy/MM/dd')bbsdate from
		bbs
	</select>

	<insert id="writebbs" parameterType="BbsDTO">
		insert into bbs(bbsnum, bbstitle, userid, bbscontent, bbsavailable)
		values(bbsnum.nextval,#{bbstitle},#{userid},#{bbscontent},#{bbsavailable})
	</insert>
</mapper>